In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

In this lab, you will use learningSet.csv file which you already have cloned in today's activities. The full process for the week is shown in the PDF file.

In [2]:
df = pd.read_csv('learningSet.csv')

C:\Users\benja\AppData\Local\Temp\ipykernel_18032\1786901675.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('learningSet.csv')

Instructions
Complete the following steps on the categorical columns in the dataset:

Check for null values in all the columns

In [3]:
# ARE NOT GOING TO BE USED
df['MAILCODE'] = df['MAILCODE'].apply(lambda x: x.replace(" ", "A"))
df = df.apply(lambda x: x.replace(" ", np.NaN))

In [4]:
df_null_count=pd.DataFrame(df.isnull().sum()*100/len(df)).reset_index()
df_null_count.columns = ['column_name', 'nulls_percentage']
df_null_count=df_null_count[df_null_count['nulls_percentage']>0]
print(len(df_null_count))
df_null_count.head(60)

155

   column_name  nulls_percentage
1      OSOURCE          0.972624
6     PVASTATE         98.471890
8       NOEXCH          0.007337
9     RECINHSE         92.974678
10       RECP3         97.886010
11     RECPGVG         99.880518
12    RECSWEEP         98.305245
14      DOMAIN          2.427368
15     CLUSTER          2.427368
16         AGE         24.802960
17     AGEFLAG         30.968851
18    HOMEOWNR         23.296860
19     CHILD03         98.798893
20     CHILD07         98.358697
21     CHILD12         98.101916
22     CHILD18         97.016099
23     NUMCHLD         87.018404
24      INCOME         22.309563
25      GENDER          3.099191
26     WEALTH1         46.882992
28     MBCRAFT         55.395548
29    MBGARDEN         55.395548
30     MBBOOKS         55.395548
31    MBCOLECT         55.458433
32     MAGFAML         55.395548
33      MAGFEM         55.395548
34     MAGMALE         55.395548
35    PUBGARDN         55.395548
36    PUBCULIN         55.395548
37     PUBHLTH         55.395548
38    PUBDOITY         55.395548
39    PUBNEWFN         55.395548
40    PUBPHOTO         55.395548
41      PUBOPP         55.395548
42    DATASRCE         22.303274
50       SOLP3         99.811344
51       SOLIH         93.501866
52       MAJOR         99.691863
53     WEALTH2         45.930281
54     GEOCODE         84.022974
55    COLLECT1         94.547856
56    VETERANS         89.072653
57       BIBLE         90.702427
58       CATLG         91.756802
59       HOMEE         99.070348
60        PETS         84.985117
61      CDPLAY         87.156752
62      STEREO         86.590785
63    PCOWNERS         89.015009
64       PHOTO         94.983859
65      CRAFTS         91.430847
66      FISHER         92.527145
67    GARDENIN         85.953549
68       BOATS         97.874481
69      WALKER         88.994047
70    KIDSTUFF         98.390140
71       CARDS         98.908942
72      PLATES         99.413072
73     LIFESRC         56.630193
74    PEPSTRFL         52.554186

Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

OSOURCE - symbol definitions not provided, too many categories
ZIP - we are including state already

In [5]:
drop_list = ['OSOURCE','ZIP']

Identify columns that have over 50% missing values.

In [6]:
columns_above_threshold = df_null_count[df_null_count['nulls_percentage']>50]
list_to_append = list(columns_above_threshold['column_name'])
drop_list.extend(list_to_append)
drop_list

['OSOURCE',
 'ZIP',
 'PVASTATE',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'NUMCHLD',
 'MBCRAFT',
 'MBGARDEN',
 'MBBOOKS',
 'MBCOLECT',
 'MAGFAML',
 'MAGFEM',
 'MAGMALE',
 'PUBGARDN',
 'PUBCULIN',
 'PUBHLTH',
 'PUBDOITY',
 'PUBNEWFN',
 'PUBPHOTO',
 'PUBOPP',
 'SOLP3',
 'SOLIH',
 'MAJOR',
 'GEOCODE',
 'COLLECT1',
 'VETERANS',
 'BIBLE',
 'CATLG',
 'HOMEE',
 'PETS',
 'CDPLAY',
 'STEREO',
 'PCOWNERS',
 'PHOTO',
 'CRAFTS',
 'FISHER',
 'GARDENIN',
 'BOATS',
 'WALKER',
 'KIDSTUFF',
 'CARDS',
 'PLATES',
 'LIFESRC',
 'PEPSTRFL',
 'ADATE_15',
 'ADATE_20',
 'ADATE_23',
 'RFA_15',
 'RFA_20',
 'RFA_23',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_8',
 'RDATE_9',
 'RDATE_10',
 'RDATE_11',
 'RDATE_12',
 'RDATE_13',
 'RDATE_14',
 'RDATE_15',
 'RDATE_16',
 'RDATE_17',
 'RDATE_18',
 'RDATE_19',
 'RDATE_20',
 'RDATE_21',
 'RDATE_22',
 'RDATE_23',
 'RDATE_24',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_8',
 'RAMNT_9',
 'RAMNT_10',
 'RAMNT_11',
 'RAMNT_12',
 'RAMNT_13',
 'RAMNT_14',
 'RAMNT_15',
 'RAMNT_16',
 'RAMNT_17',
 'RAMNT_18',
 'RAMNT_19',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_22',
 'RAMNT_23',
 'RAMNT_24']

Remove those columns from the dataframe

In [7]:
df_2 = df.drop(columns=drop_list, axis=1)
print(df_2.shape)
print(df.shape)

(95412, 381)
(95412, 481)

Perform all of the cleaning processes from the Lesson.

In [8]:
Y = df_2[['TARGET_B', 'TARGET_D']]
numerical = df_2.select_dtypes(np.number)
categorical = df_2.select_dtypes(object)
categorical.shape

(95412, 36)

In [9]:
states_groups = pd.DataFrame(categorical['STATE'].value_counts()).reset_index()

states_groups.columns = ['state', 'count']
other_states = list(states_groups[states_groups['count']<2500]['state'])
#other_states
def clean_state(x):
    if x in other_states:
        return 'other'
    else:
        return x
    
categorical['STATE'] = list(map(clean_state, categorical['STATE']))
categorical['STATE'].unique()

array(['IL', 'CA', 'NC', 'FL', 'other', 'IN', 'MI', 'MO', 'TX', 'WA',
       'WI', 'GA'], dtype=object)

Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:

In [10]:
categorical['GENDER'] = categorical['GENDER'].fillna('F')
categorical['GENDER'] = categorical['GENDER'].replace(['U', 'J', 'C', 'A'], 'Others')
categorical['GENDER'].value_counts()

GENDER
F         54234
M         39094
Others     2084
Name: count, dtype: int64